page-postlist {
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  ion-img{
    width: 100px;
    height: 100px;
  }
  ion-card{
    position: relative;
  }
  .createDate {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background: #222;
    color: #fff;
    padding: 1px 5px;
    font-size: 12px;
  }
  .card-ios p {
    color: #111 !important;
  }
  .button-clear-ios {
    color: #f53d3d !important;
  }
}
