<div class="container">
  <div class="col-md-6 editprofile">
    <h1 align="center"><b>EDIT PROFILE</b></h1><br>
    <input type="file" name="pic" accept="image/*">
    <input type="submit"><br>
    <label><b>Name</b></label>
      <input type="text" placeholder="Name" name="name" required><br>
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female<br>
    <label><b>Phone Number</b></label>
      <input type="text" placeholder="Phone Number" name="phonenumber" required><br>
    <label><b>Address</b></label>
      <input type="text" placeholder="Address" name="address" required><br>
    <label><b>City</b></label>
      <input type="text" placeholder="City" name="city" required><br>
    <label><b>District</b></label>
      <input type="text" placeholder="District" name="district" required><br>
    <span class="changepassword"> <a href="changepassword">Change Password</a></span>
    <button type="button" class="btn_update">Update</button>
  </div>
</div>
