/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto/Roboto-Regular.eot') format('embedded-opentype'), url('/assets/fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('/assets/fonts/roboto/Roboto-Regular.ttf')  format('truetype'), url('/assets/fonts/roboto/Roboto-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    line-height: normal;
    color: #646566;
    background-color: #f4f5f6;
    margin: 0;
}
.wrap {
    width: auto;
    clear: both;
}
