<div class="container">
  <label><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" required><br>

  <label><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" required>

  <button type="submit" class="btn_login">Login</button>
  <input type="checkbox" checked="checked"> Remember me
  <span class="password"> <a href="#">Forgot password?</a></span><br>
  <button type="button" class="btn_register">Register</button>
</div>
