<!-- HEADER -->
<header id="t3-header" class="t3-header">
  <div class="container">
    <!-- LOGO -->
    <div class="col-xs-1 col-lg-4 logo">
      <div class="logo-image">
        <a href="#" title="Work Anywhere" style="color: #fff; font-size: 15px;">
          WORK ANYWHERE
        </a>
        <small class="site-slogan"></small>
      </div>
    </div>
    <!-- //LOGO -->
    <div class="col-xs-11 col-lg-8">

    </div>
  </div>
</header>
<!-- //HEADER -->
<!-- MAIN BODY -->
<div id="t3-mainbody" class="t3-mainbody">
  <div class="container">
    <h1>{{title}}</h1>
  </div>
</div>
<!-- //MAIN BODY -->
<!-- FOOTER -->
<footer id="t3-footer" class="t3-footer wrap">
  <div class="container">
    <div class="col-md-12 copyright">
      <span>Copyright © 2016 Work Anywhere Site. All Rights Reserved.</span>
    </div>
  </div>
</footer>
<!-- //FOOTER -->
