<!-- HEADER -->
<header id="t3-header" class="t3-header">
  <div class="container">
    <!-- LOGO -->
    <div class="col-xs-1 col-lg-3 logo">
      <div class="logo-image">
        <img src="/assets/images/logo2_white.png" style="width:55px;height:34px;">
        <small class="site-slogan"></small>
      </div>
    </div>
    <!-- //LOGO -->
    <div class="col-xs-11 col-lg-9 right-menu">
      <div class="login pull-right">
        <div>
          <a href="#" class="btn btn-default btn-register"><i class="fa fa-lock"></i>Đăng Nhập</a>
          <a href="#" class="btn btn-success btn-register">Đăng ký</a>
          </div>
      </div>
      <div class="head-search pull-right">
        <div class="search">
          <form action="" method="post" class="form-inline form-search">
            <input name="searchword" id="mod-search-searchword" maxlength="200" class="form-control search-query" type="search" size="0" placeholder="Tìm công việc...">
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- //HEADER -->
<!-- MAIN BODY -->
<div id="t3-mainbody" class="t3-mainbody">
  <router-outlet></router-outlet>
</div>
<!-- //MAIN BODY -->
<!-- FOOTER -->
<footer id="t3-footer" class="t3-footer wrap">
  <div class="container">
    <div class="col-md-12 copyright">
      <span>Copyright © 2016 Work Anywhere Site. All Rights Reserved.</span>
    </div>
  </div>
</footer>
<!-- //FOOTER -->
