<div class="container">
  <div class="col-md-6 register">
    <h1 align="center"><b>REGISTER</b></h1><br>
    <label><b>Name</b></label>
    <input type="text" placeholder="Name" name="name" required><br>
    <label><b>Email</b></label>
    <input type="text" placeholder="Email Address" name="email" required><br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" required><br>
    <label><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confirm_password" required><br>
    <label><b>Address</b></label>
    <input type="text" placeholder="Address" name="address" required><br>
    <button type="button" class="btn_register">Register</button>
  </div>
</div>
