<div class="container">
  <!-- Jobs item -->
  <div class="jobs-item col-md-8 center">
    <article>
      <a href="#">
        <div class="item-image">
          <img src="http://placehold.it/350x150" alt="abc">
          <span class="distance">20 KM</span>
          <span class="money">200,000 VNĐ/Giờ</span>
          <span class="status">DONE</span>
        </div>
      </a>
      <div class="item-header block">
        <h2 class="item-title none"><a href="#">Write code for me</a></h2>
      </div>
      <div class="item-description block">
        <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
        <span>Ngày đăng: 02/10/2016</span><br>
        <span>Ngày hết hạn: 10/10/2016</span><br>
        <span>Loại công việc: Computer and IT</span><br>
        <span>Địa Chỉ: 207 đường 138 phường tân phú quận 9 tp hồ chí minh</span><br>
      </div>
        <div class="item-footer block">
        <button class="btn btn-succes">CHAT NOW!</button>
        <button class="btn btn-primary">MAP</button>
      </div>
    </article>
  </div>
</div>
