.forgotpassword {
   float: none;
   margin: 60px auto;
   padding: 20px;
   background: #fff;
   -webkit-box-shadow: 0px 1px 0px 0px #d4d5d6;
   box-shadow: 0px 1px 0px 0px #d4d5d6;
}
.forgotpassword-title {
  text-align: center;
  color: #4275F4;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    align-content: center;
}
button{
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn_forgotpassword {
    background-color: #4CAF50;
}
