<div class="jobs-feed container">
  <div class="page-header">
    <h1 class="page-title">JOBS AROUND YOU</h1>
  </div>
  <div class="page-body">
    <div class="grid-item">
      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->
      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->
      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->
      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Worker item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Phan Y Bien</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>phuong vo</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>20/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">I'm can work anything!</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Worker item -->
      <!-- Worker item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Vo Hoai Phuong</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>phuong vo</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>20/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">I'm can work anything!</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Worker item -->
      <!-- Worker item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Phan Y Bien</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>phuong vo</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>20/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">I'm can work anything!</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Worker item -->
      <!-- Worker item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Vo Hoai Phuong</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>phuong vo</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>20/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">I'm can work anything!</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Worker item -->
    </div>
  </div>
  <button type="button" class="btn btn-loadmore">LOAD MORE...</button>
</div>
