<div class="jobs-feed container">
  <div class="page-header">
    <h1 class="page-title">JOBS AROUND YOU</h1>
  </div>
  <div class="page-body">
    <div class="grid-item">
      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->

      <!-- Jobs item -->
      <div class="jobs-item col-md-3 none">
        <article>
          <a href="#">
            <div class="item-image">
              <img src="http://placehold.it/350x150" alt="abc">
              <span class="distance">20 KM</span>
              <span class="money">200,000 VNĐ/Giờ</span>
              <span class="status">DONE</span>
            </div>
          </a>
          <div class="item-header block">
            <h2 class="item-title none"><a href="#">Write code for me</a></h2>
          </div>
          <div class="item-aside block">
            <ul class="post-info none-list-style">
              <li class="col-md-4 none"><i class="fa fa-user" aria-hidden="true"></i><span>Super User</span></li>
              <li class="col-md-4 none"><i class="fa fa-folder-o" aria-hidden="true"></i><span>Conputer and IT</span></li>
              <li class="col-md-4 none"><i class="fa fa-clock-o" aria-hidden="true"></i><span>29/10/2016</span></li>
            </ul>
          </div>
          <div class="item-description block">
            <p class="none">Joomla! World Conference (JWC) 2015 takes place from 6 to 8 November 2015, at Bangalore India. This</p>
          </div>
          <div class="item-footer block">
            <ul class="social-button none-list-style">
              <li><i class="fa fa-eye" aria-hidden="true"></i>100</li>
              <li><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></li>
            </ul>
          </div>
        </article>
      </div>
      <!-- // Jobs item -->
    </div>
  </div>
  <button type="button" class="btn btn-loadmore">LOAD MORE...</button>
</div>
<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.7&appId=1002057893194800";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
