<div class="container">
  <div class="col-md-6 postjob">
    <h1 align="center"><b>POST JOB</b></h1><br>
    <label><b>Name Job</b></label>
      <input type="text" placeholder="Name Job" name="namejob" required><br>
    <label><b>Job Category</b></label>
      <input type="text" placeholder="Job Category" name="jobcategory" required><br>
    <label><b>Job Type</b></label>
      <select>
        <option value="fulltime">Full-time</option>
        <option value="parttime">Part-time</option>
      </select>
    <label><b>Job Position</b></label>
      <input type="text" placeholder="Job Position" name="jobposition" required><br>
    <label><b>Job Description</b></label><br>
    <label><b>Work Place</b></label>
      <input type="text" placeholder="Work Place" name="workplace" required><br>
    <label><b>Salary Type</b></label>
      <select>
        <option value="agreement">Agreement</option>
        <option value="permonth">Per Month</option>
        <option value="perhour">Per Hour</option>
      </select>
    <label><b>Salary</b></label>
      <input type="text" name="salary" required><br>
    <label><b>Gender</b></label>
      <select>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    <label><b>Apply Deadline</b></label>
      <input type="date" name="applydeadline" required><br>
    <button type="button" class="btn_post">Post Job</button>
  </div>
</div>
